.user-form {
  width: 400px;
  /* background-color: #fff; */
  box-shadow: var(--shadow) 0px 5px 15px;
  height: 260px;
  border-radius: 7px;
  padding: 20px;
}
.pic-ava {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullname {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
}
.label-name {
  position: absolute;
  margin-left: 6px;
}
.nameuser {
  width: 100%;
  display: flex;
  justify-content: center;
}
.line {
  margin-left: 40px;
  width: 45%;
  height: 260px;
  padding: 20px;
  background-color: var(--card--);
  box-shadow: var(--shadow) 0px 5px 15px;
  border-radius: 7px;
}
.user-row {
  display: flex;
  font-size: 20px;
  font-weight: 300;
}
.pie-view {
  margin-top: 20px;
  width: 400px;
  background-color: var(--card--);

  box-shadow: var(--shadow) 0px 5px 15px;
  height: 260px;
  border-radius: 7px;
  padding: 20px;
}
#view-geo {
  margin-top: 20px;
  margin-left: 40px;
}
