@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f1f1f1;
}
/* #F1F1F1, #202020, #7E909A, #1C4E80, #A5D8DD, #EA6A47, #0091D5 */
:root {
  --bg--: #f1f1f1;
  --black--: #202020;
  --gray--: #7e909a;
  --blue--: #1c4e80;
  --babyblue--: #a5d8dd;
  --orange--: #ea6a47;
  --babyblue--: #0091d5;
  --dbg--: #042547;
  --dblack--: #24395a;
  --dray--: #3f4f6d;
  --dblue--: #586680;
  --dbabyblue--: #737d94;
  --dorange--: #8d96a9;
}
