@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bg--);
  color: var(--black--);
}
.css-f75cnp,
.css-1lymaxv-MuiDataGrid-root,
.css-rtrcn9-MuiTablePagination-root {
  color: var(--black--) !important;
}
[data-mode="dark"] {
  --bg--: #042547;
  --shadow: rgb(221 214 214 / 50%);
  --black--: #f1f1f1;
  --card--: #586680;
  --dray--: #f1f1f1;
}
/* #F1F1F1, #202020, #7E909A, #1C4E80, #A5D8DD, #EA6A47, #0091D5 */
:root {
  --bg--: #f1f1f1;
  --red--: #202020;
  --card--: #fff;
  --black--: #000000;
  --shadow: rgba(0, 0, 0, 0.35);

  --red--: #d11515;
  --shadow: rgba(0, 0, 0, 0.35);

  --babyblue--: #0091d5;
  --dbg--: #042547;
  --dblack--: #23354e;
  --dray--: #24395a;
  --dblue--: #586680;
  --dbabyblue--: #737d94;
  --dorange--: #8d96a9;
}
